<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Find" tabIcon="search"></ion-tab>
  <!--<ion-tab [root]="tab2Root" tabTitle="Browse" tabIcon="book"></ion-tab>-->
  <ion-tab [root]="tab3Root" *ngIf="token" tabTitle="Going" tabIcon="checkmark-circle"></ion-tab>
  <ion-tab [root]="tab4Root" *ngIf="token" tabTitle="Updates" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab5Root" *ngIf="token" tabTitle="Profile" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab6Root" *ngIf="!token" tabTitle="Login" tabIcon="log-in"></ion-tab>
</ion-tabs>
