<div class="row">
  <div class="col l4 offset-l4 m10 offset-m1 s10 offset-s1">
    <div class="card amber lighten-5">
      <div class="card-content">
        <span class="card-title">Login</span>
        {{#if message}}
          <div class="card-panel red">
            {{message}}
          </div>
        {{/if}}
        <form method="post" action="/login">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Username" id="username" name="username" type="text" class="validate" required>
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Password" id="password" name="password" type="password" class="validate" required>
              <label for="password">Password</label>
            </div>
          </div>
          <input type="submit" class="waves-effect waves-light btn amber white-text" value="Login">
        </form>
      </div>
    </div>
  </div>
</div>
